
[submodule "plugins/tmux/tmux-fuzzback"]
	path = plugins/tmux/tmux-fuzzback
	url = https://github.com/roosta/tmux-fuzzback.git
[submodule "plugins/tmux/tmux-jump"]
	path = plugins/tmux/tmux-jump
	url = https://github.com/schasse/tmux-jump.git
[submodule "plugins/tmux/tmux-resurrect"]
	path = plugins/tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "plugins/tmux/tmux-sensible"]
	path = plugins/tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "plugins/zsh/fzf-tab"]
	path = plugins/zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "plugins/zsh/zsh-syntax-highlighting"]
	path = plugins/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
