#===============================================================================
# User
#===============================================================================

[user]
  email = dev@michalsvorc.com
  name = Michal Svorc

#===============================================================================
# Aliases
#===============================================================================

[alias]
  cm = commit
  cc = checkout
  cl = clone
  d  = diff
  dt = difftool
  l  = log --graph --decorate=short --date=iso-strict \
    --pretty=format:'%Cred%h%Creset %C(auto)%d%Creset %s %Cgreen%ar%Creset' \
    -15
  ll = log --graph --decorate=short --date=iso-strict \
    --pretty=format:'%Cred%h%Creset %C(auto)%d%Creset %s %Cgreen%ar | %ad%Creset %Cblue<%ae>%Creset' \
    -50
  r  = restore
  rs = restore --staged
  s  = status --short
  sw = switch

  # Destructive aliases
  xr = "!f() { read -p \"Reset hard [y/N] \" r; [[ \"$r\" == \"y\" ]] && git reset --hard; }; f"
  xc = "!f() { read -p \"Clean force [y/N] \" r; [[ \"$r\" == \"y\" ]] && git clean --force; }; f"

  # Difftastic
  # https://difftastic.wilfred.me.uk/git.html
  dd = -c diff.external=difft diff
  ds = -c diff.external=difft show --ext-diff
  dl = -c diff.external=difft log --patch --ext-diff

#===============================================================================
# Main
#===============================================================================

[core]
  pager = less -RFX
  editor = nvim

[init]
  defaultBranch = main

[pull]
  rebase = false

[help]
  autocorrect = 30

[commit]
  verbose = true

#===============================================================================
# Diff
#===============================================================================

[diff]
  tool = nvim
  colorMoved = default
  colorMovedWS = allow-indentation-change
  algorithm = histogram
  indentHeuristic = true
  context = 5
  interHunkContext = 3
  compactionHeuristic = true
  renameLimit = 9999
  wordRegex = [^[:space:]]+

[color "diff"]
  oldMoved = red bold
  newMoved = green bold

[difftool]
  prompt = false
  colorMoved = default

# Neovim DiffTool
# :help DiffTool
[difftool "nvim"]
  cmd = nvim -c \"packadd nvim.difftool\" -d \"$LOCAL\" \"$REMOTE\"

#===============================================================================
# Merge
#===============================================================================

[merge]
  tool = nvim
  conflictstyle = diff3

[mergetool]
  prompt = false
  keepBackup = false
  # git prompt about success
  trustExitCode = false

# Neovim DiffTool is useable, but not the best approach to resolve merge conflicts.
# Consider dedicated package or plugin
[mergetool "nvim"]
  cmd = nvim  -c \"packadd nvim.difftool\" -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
