#===============================================================================
# Core
#===============================================================================

[core]
  pager = delta

[user]
  email = dev@michalsvorc.com
  name = Michal Svorc

[init]
  defaultBranch = main

[pull]
  rebase = false

[help]
  autocorrect = 30

#===============================================================================
# Diff
#===============================================================================

[diff]
  tool = nvim_diff
  colorMoved = default

[difftool]
  prompt = false
  colorMoved = default

[difftool "nvim_diff"]
    cmd = "nvim -d ${LOCAL} ${REMOTE}"

#===============================================================================
# Merge
#===============================================================================

[merge]
  tool = nvim_merge
  conflictstyle = diff3

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "nvim_merge"]
  cmd = "nvim -d ${LOCAL} ${MERGED} ${REMOTE}"

#===============================================================================
# Aliases
#===============================================================================

[alias]
  c   = clone
  d   = difftool
  cc  = checkout
  cm  = commit
  l   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr: %cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
  s   = status -s

#===============================================================================
# tig
# https://github.com/jonas/tig
#===============================================================================

[tig "bind"]
  status = P !git push origin
  main = L !git pull origin

#===============================================================================
# git-delta
# https://github.com/dandavison/delta
#===============================================================================

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true     # use n and N to move between diff sections
  light = false       # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true # side-by-side view

